@use './variables.module' as var

@font-face
    font-family: 'Roboto'
    src: url('http://localhost:3000/fonts/roboto-v20-latin_cyrillic-100.woff2') format('woff2')
    src: url('http://localhost:3000/fonts/roboto-v20-latin_cyrillic-100.woff') format('woff')
    font-weight: 100
    font-style: normal

@font-face
    font-family: 'Roboto'
    src: url('http://localhost:3000/fonts/roboto-v20-latin_cyrillic-300.woff2') format('woff2')
    src: url('http://localhost:3000/fonts/roboto-v20-latin_cyrillic-300.woff') format('woff')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'Strong'
    src: url('http://localhost:3000/fonts/Strong-Regular.woff2') format('woff2')
    src: url('http://localhost:3000/fonts/Strong-Regular.woff') format('woff')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'Sharetech'
    src: url('http://localhost:3000/fonts/sharetechrusbydaymarius.woff2') format('woff2')
    src: url('http://localhost:3000/fonts/sharetechrusbydaymarius.woff') format('woff')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'Continu'
    src: url('http://localhost:3000/fonts/continuummedium.woff2') format('woff2')
    src: url('http://localhost:3000/fonts/continuummedium.woff') format('woff')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'Titillium'
    src: url('http://localhost:3000/fonts/TitilliumWeb-Light.woff2') format('woff2')
    src: url('http://localhost:3000/fonts/TitilliumWeb-Light.woff') format('woff')
    font-weight: 300
    font-style: normal
@font-face
    font-family: 'Titillium'
    src: url('http://localhost:3000/fonts/TitilliumWeb-Regular.woff2') format('woff2')
    src: url('http://localhost:3000/fonts/TitilliumWeb-Regular.woff') format('woff')
    font-weight: 400
    font-style: normal
@font-face
    font-family: 'Titillium'
    src: url('http://localhost:3000/fonts/TitilliumWeb-SemiBold.woff2') format('woff2')
    src: url('http://localhost:3000/fonts/TitilliumWeb-SemiBold.woff') format('woff')
    font-weight: 600
    font-style: normal

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: var.$ff-titm
    font-weight: var.$ff-300
body
    letter-spacing: .1rem
#root
    width: 100vw
    height: 100vh
    // background: var.$BG
    background: #{var(--color-BACKGROUND)}
    display: grid
    grid-template-columns: minmax(10rem, 15%) 1fr
.aside
    background-image: linear-gradient(0deg, rgba(0,18,34,0.1) 0%, rgba(0,18,34,1) 100%), url('http://localhost:3000/img/image1.jpg')
    background-size: cover
    background-position: center center
.layout
    height: 100%
    display: grid
    grid-template-rows: 3rem 1fr 3rem
.header, .footer
    display: flex
    width: 100%
    color: #{var(--C5)}
.header
    justify-content: space-between
    div
        display: flex
        p
            padding: 0 1rem
            line-height: 3rem
            a
                color: #{var(--C5)}
                text-decoration: none
                &:active
                    color: #{var(--C3)}
        img
            height: 3rem
            margin-left: 1rem
            border-radius: 8px
            background: #{var(--C1)}
            border: 2px solid transparent
.footer
    justify-content: center
    text-transform: uppercase
    font-size: .6rem
    color: #{var(--C6)}
    p
        line-height: 3rem
.content
    display: flex
    justify-content: center
    align-items: center
    width: 100%

@media (max-width: 920px)
    .aside, #root
        display: block
