.Form
    width: 80%
    position: absolute
    z-index: 2
    color: var(--C5)
    padding: 1rem
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    align-items: flex-end
    transform: translate(10%,20%)
    background: var(--color-BACKGROUND)
    border: 2px solid var(--C2)
    border-radius: 8px
    fieldset
        display: flex
        flex-flow: column nowrap
        justify-content: space-between
        border: none
        height: 100%
        label
            font-size: .9rem
            color: var(--C4)
            text-transform: lowercase
            letter-spacing: .1rem
            margin-bottom: 1rem

.FormBody
    width: 100%
    margin-bottom: 1rem

.FormTextArea
    border-radius: 8px
    overflow: hidden
    margin-bottom: 1rem
    textarea
        width: 100%
        resize: none
        border: none
        padding: .4rem
        &:focus
            background: bisque
            color: #0F1A2B
            outline: none
.FormInput
    width: 100%
    border-radius: 8px
    border: none
    padding: .4rem
    margin-bottom: 1rem
    font-size: 1rem
    &::placeholder
        color: var(--C8)
    &:focus
        background: bisque
        color: #0F1A2B
        outline: none

.FormButtons
    width: 100%
    display: flex
    justify-content: space-between

.Button
    height: 3rem
    font-size: 1.125rem
    border: none
    border-radius: 8px
    padding: 0 1rem
    background: var(--C1)
    &:hover
        cursor: pointer
        box-shadow: 0px 0px 10px -2px #{var(--color-SHADOW)}

.Main
    flex: 1 1 5rem
    display: block
    overflow: auto
    margin: .4rem

.MainPlaceholder
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    p
        font-size: 1.5rem
        font-weight: 600
        color: var(--C2)

.Footer
    flex: 0 0 3rem
    width: 100%
    padding: 0 1rem
    font-size: .8rem
    display: flex
    justify-content: flex-start
    align-items: center
    border-top: 1px solid #{var(--color-HOVER)}
.FooterItem
    display: flex
    margin: 0 .5rem

.AddItem
    flex: 0 0 2rem
    text-transform: uppercase
    font-size: 1rem
    font-weight: 900
    line-height: 2rem
    color: var(--C6)
    background: transparent
    padding: 0 .5rem
    margin: 0 .5rem
    width: fit-content
    border-radius: 8px
    border: 2px solid var(--C2)
    &:hover
        color: var(--C4)
        cursor: pointer
        background: var(--C2)

.ModalWrap
    width: 100%
    height: 100%
    position: absolute
.ModalBG
    width: 100%
    height: 100%
    position: absolute
    background: #0f1a2bba
    z-index: 1

.hide
    display: none
/**
 * accordion styles
 */
.SummaryContainer
    display: inline-flex
    justify-content: space-between
    align-items: flex-start
    width: 95%
    &:hover .SummarySelect
        visibility: visible
    span
        &:hover
            cursor: pointer
.SummaryType
    border-radius: 50%
    border: 2px solid gray
    padding: .5rem
    margin-left: 1rem
    &:hover
        cursor: pointer
.SummaryTitle
    padding-left: .5rem
.SummarySelect
    visibility: hidden
    width: 1.5rem
    margin-left: 1rem
    border-radius: 50%
    background: transparent
    border: 2px solid gray
    appearance: none
    &:hover
        cursor: pointer
        border: 2px solid var(--C1)
details
    padding: .2rem
    p
        padding: 0 2rem
        background: var(--color-HOVER)
