.Container
    width: 100%
    height: 100%
    color: var(--C5)
    position: relative
.SubContainer
    display: grid
    grid-template-columns: minmax(8rem, 15%) 1fr
    margin: 1rem
    padding: 1rem
    width: 80%
    min-width: 640px
    border-radius: 6px
    border: 1px solid #a0a0a030
    &:hover
        box-shadow: 0px 0px 15px 15px rgba(219, 193, 147, 0.1)
.LeftSubContainer,
.RightSubContainer
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    align-items: flex-start
.LeftSubContainer
    margin-right: 1rem
    padding-right: 1rem
    border-right: 1px solid var(--C2)

.Image
    width: 6rem
    height: 6rem
    padding: .5rem
    border-radius: 6px
    border: 1px solid #a0a0a030
.ImageFill
    fill: #bbbbbbee
.Item
    display: grid
    grid-template-columns: minmax(6rem, 15%) 1fr
    width: 100%
    padding: 4px 0
.ItemTitle
    color: gray
.ItemContainer
    width: 100%
    margin: .5rem
.ItemNoValue
    color: gray
/**
 * web sites item description
 */
.PropertyContainer
    display: flex
    justify-content: space-between
    align-items: center
    padding:4px
    &:hover
        background: var(--color-HOVER)
    &:hover .PropertyIcon
        visibility: visible
.PropertyTitle
    color: gray
    flex: 0 0 2.5rem
.PropertyValue,
.PropertySite,
.PropertyHash
    padding-right: 8px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
.PropertySite
    flex: 0 0 8rem
.PropertyHash
    flex: 1 1 auto
.PropertyIcon
    margin-left: 8px
    visibility: hidden
.divider
    width: 100%
    height: 1px
    margin: 12px 0
    background: #a0a0a030
/**
 * add item button description
 */
.AddItem
    flex: 0 0 2rem
    text-transform: uppercase
    font-size: 1rem
    font-weight: 900
    line-height: 2rem
    color: var(--C6)
    background: transparent
    margin: 8px 0
    padding: 0 8px
    width: fit-content
    border-radius: 8px
    border: 2px solid var(--C2)
    &:hover
        color: var(--C4)
        cursor: pointer
        background: var(--C2)
