.Container
    width: 100%
    height: 100%
    padding: 1rem
    color: var(--C5)
.SubContainer
    padding: 1rem
    width: 60%
    min-width: 500px
    border-radius: 6px
    border: 1px solid #a0a0a030
    &:hover
        box-shadow: 0px 0px 15px 15px rgba(219, 193, 147, 0.1)
.Image
    width: 6rem
    height: 6rem
    padding: .5rem
    border-radius: 6px
    border: 1px solid #a0a0a030
.ImageFill
    fill: #bbbbbbee
.Item
    display: flex
    justify-content: flex-start
    align-items: flex-start
    padding: 4px 0
.ItemTitle
    flex: 0 0 5rem
    color: gray
.ItemContainer
    flex: 1 1 auto
.ItemNoValue
    color: gray
.PropertyContainer
    display: flex
    justify-content: flex-start
    align-items: center
    padding-bottom: 4px
    &:hover
        background: var(--color-HOVER)
    &:hover .PropertyIcon
        visibility: visible
.PropertySite,
.PropertyHash
    flex: 1 1 auto
    margin-right: 8px
    padding-right: 4px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
.PropertyIcon
    flex: 0 0 2rem
    visibility: hidden
hr
    margin: 12px 0
    color: var(--C2)
/**
 * add item button description
 */
.AddItem
    flex: 0 0 2rem
    text-transform: uppercase
    font-size: 1rem
    font-weight: 900
    line-height: 2rem
    color: var(--C6)
    background: transparent
    margin: 8px 0
    padding: 0 8px
    width: fit-content
    border-radius: 8px
    border: 2px solid var(--C2)
    &:hover
        color: var(--C4)
        cursor: pointer
        background: var(--C2)
