.Container
    width: 100%
    height: 100%
    padding: 1rem
    color: var(--C5)
.ImageContainer
    width: 4rem
    height: 4rem
    display: grid
    place-content: center
    margin-bottom: .5rem
.Image
    width: 4rem
    height: 4rem
.ImageFill
    fill: #bbbbbbee
.Item
    display: flex
    justify-content: flex-start
    align-items: flex-start
    width: 80%
    padding: 4px 0
.ItemTitle
    flex: 0 0 5rem
    color: gray
.ItemContainer
    flex: 1 1 auto
.ItemNoValue
    color: gray
.PropertyContainer
    display: flex
    justify-content: flex-start
    align-items: center
    padding-bottom: 4px
    &:hover
        background: var(--color-HOVER)
    &:hover .PropertyIcon
        visibility: visible
.PropertySite,
.PropertyHash
    flex: 0 0 auto
    min-width: 12rem
.PropertyIcon
    flex: 0 0 2rem
    visibility: hidden
hr
    margin: 12px 0
