@use 'assets/style/variables.module' as var

.container
    display: grid
    grid-template-rows: 3rem 1fr
    color: wheat
    width: 100%
    height: 100%
.header
    p
        line-height: 3rem
        margin-left: 1rem
.body
    display: flex
    flex-flow: column nowrap
    width: 60%

.todosForm
    flex: 0 0 6rem
    border-radius: 8px
    background: var.$C2
    color: var.$C5
    display: flex
    justify-content: space-between
    align-items: flex-end
    overflow: hidden
    .todosBody
        width: 100%
        padding: 1rem
        fieldset
            display: flex
            flex-flow: column nowrap
            border: none
            input
                height: 2.5rem
                font-size: 1.3rem
                border: none
                padding: 0 .4rem
                border-radius: 4px
                &::placeholder
                    color: var.$C6
                &:focus
                    outline: none
                    box-shadow: 0px 0px 10px -2px var.$BG
            label
                font-size: .9rem
                color: var.$C6
                text-transform: lowercase
                letter-spacing: .1rem
                margin: .4rem 0
    > input
        height: 4rem
        min-height: 4rem
        font-size: 1.5rem
        border: none
        margin: 1rem
        padding: 0 2rem
        border-radius: 5px
        background: var.$C1

.inputWrap
    position: relative
    height: 2.5rem
    & > img
        position: absolute
        width: 2rem
        height: 2rem
        right: 1rem
        top: .2rem
        & path
            color: gray
    & > input
        position: absolute
        width: 100%

input[type="submit"]:hover
    cursor: pointer
    box-shadow: 0px 0px 10px -2px var.$BG

.todosWrapper
    flex: 1 1 5rem
    display: block
    overflow: auto
    padding: .5rem
.item
    display: flex
    padding: 0.3rem 0.8rem 0 0.8rem
    &:hover
        background: var.$CA1
.itemNum
    flex: 0 0 2rem
.itemDesc
    flex: 1 1 auto
.itemDate
    flex: 0 0 7rem
.itemCheck
    flex: 0 0 3rem
    &:hover
        cursor: pointer
.done
    color: var.$C7

@media (max-width: 760px)
    .body
        width: 100%
