.Footer
    display: flex
    width: 100%
    justify-content: center
    text-transform: uppercase
    font-size: .6rem
    color: #{var(--C6)}
    background: #{var(--color-HOVER)}
    p
        line-height: 3rem
